<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center m-5" > Editar Clientes</h1>
                <section>
                    <div class="container">
                        <form th:action="@{/update}" th:object="${Clientes}" method="put">
                            <div class="">
                                <input type="hidden" name="id" th:field="${id}">
                            </div>
                            <br>
                            <div class="form-control">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre">
                            </div>
                            <br>
                            <div class="form-control">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="apellido">
                            </div>
                            <br>
                            <div class="form-control">
                                <label for="direccion">Dirección</label>
                                <input type="text" name="direccion" id="direccion">
                            </div>
                            <br>
                            <div class="form-control">
                                <label for="telefono">Teléfono</label>
                                <input type="text" name="telefono" id="telefono">
                            </div>
                            <br>
                            <div class="form-control">
                                <label for="correo">Correo</label>
                                <input type="text" name="email" id="email">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-success">Agregar</button>
                            <br>
                        </form>
                    </div>

                </section>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                    crossorigin="anonymous"></script>
</body>

</html>