<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
                <h1 class="text-center m-5">Clientes</h1>
                <a href th:href="@{/new}" class="btn btn-primary">Agregar</a>
                <section>
                    <table class=" table  table-bordered text-center ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Correo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cliente : ${clientes}">
                                <td th:text="${cliente.id}"></td>
                                <td th:text="${cliente.nombre}"></td>
                                <td th:text="${cliente.apellido}"></td>
                                <td th:text="${cliente.direccion}"></td>
                                <td th:text="${cliente.telefono}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td>
                                    <a th:href="@{/edit/}+${cliente.id}" class="btn btn-primary">Editar</a>
                                    <a th:href="@{/delete/}+${cliente.id}" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                    </table>
                </section>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                    crossorigin="anonymous"></script>
</body>

</html>